@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SFPRODISPLAYREGULAR.OTF') format('truetype');
  }

  html {
    font-family: "SF Pro", sans-serif;
  }
}
